
<div class ="CorTelaProf">
 <div class="row">
      <div  class="col-sm-6"  *ngIf="varProfSelecionado">
          <div class="row">
              <div class="mr-auto">
                <app-titulo [titulo]="'Professor.. ' + varProfSelecionado.id" ></app-titulo>
              </div>
              <div class="mt-1" >
                <button class="btn btn-success" (click)="voltar_prof()">voltar</button>     
              </div>
          </div>
        <form>
            <div class="form-group">
              <label for="formGroupExmpleInput">Nome</label>
              <input type="text" value="{{varProfSelecionado.nome}}" class="form-control" >          
            </div>
            <div class="form-group">
              <label for="formGroupExmpleInput">disciplina</label>
              <input type="text" value="{{varProfSelecionado.disciplina}}"  class="form-control" >          
            </div>          
        </form>
      </div> <!-- fim ngIf -->   
      <!--  -->  
      <div  [ngClass]="{'col-sm-6 mt-2': varProfSelecionado,
      'col-sm-12 ': !varProfSelecionado}">  
        <h1> {{titulo}}</h1>     
         <!-- https://getbootstrap.com/docs/4.0/content/tables/-->
          
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">NOME</th>
                  <th scope="col">DICIPLINA</th>              
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let letprof of professores"
                  style ="cursor : pointer;" (click)="funcProf_Select(letprof)">
                  <th scope="row">{{letprof.id}}</th>
                  <td>{{letprof.nome}}</td>
                  <td>{{letprof.disciplina}}</td>  
              </tbody>
          </table>           
       </div> <!-- fim ngClass-->
    </div>
  </div> <!-- fim CorTelaProf-->
 