
<div class="prof">
    <app-titulo [titulo]="titulo"></app-titulo>
      
      <div *ngIf="varProfSelecionado">
        <a>
        O professor é..tammmm... : {{varProfSelecionado}};
      </a>
        <br>
          <button class="btn btn-voltar"
          (click)="voltar_prof()">
            voltar
          </button>
      </div>

      <div *ngIf="!varProfSelecionado">

        <a> Nenhum Professor aqui agora!</a>      
      </div>
         <!-- https://getbootstrap.com/docs/4.0/content/tables/-->
      <div class="tab">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">NOME</th>
                  <th scope="col">DICIPLINA</th>              
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let letprof of professores"
                  style ="cursor : pointer;" (click)="funcProf_Select(letprof)">
                  <th scope="row">{{letprof.id}}</th>
                  <td>{{letprof.nome}}</td>
                  <td>{{letprof.disciplina}}</td>  
              </tbody>
          </table>
      </div>  
    </div>